<% content_for :title do %>Sign In<% end %>
<div id="signin">
  <h2 class="form-signin-heading">Please Sign In</h2>
  <!-- TODO: Remove Demo Users in the future -->
  <a class="btn btn-block btn-default" id="demo-user" href="<%=@demo_login_url%>&user=1">Demo User 1</a>
  <a class="btn btn-block btn-default" id="demo-user" href="<%=@demo_login_url%>&user=2">Demo User 2</a>
  <a class="btn btn-block btn-default" id="demo-manager" href="<%=@demo_login_url%>&manager=1">Demo Manager</a>
</div>