<% content_for :controller_content do %>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>